<p-toast />
<div class="min-h-screen flex flex-col items-center justify-center">
    <div
        class="surface-card p-4 shadow-2 border-round w-full  lg:justify-around flex min-h-full justify-around flex-col lg:self-center lg:max-w-md">
        <div class="text-center mb-5">
            <img src="enshift-logo.svg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Password Recovery</div>
            <span class="text-600 font-medium line-height-3">Enter your new password</span>
        </div>

        <div>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <label for="password" class="block text-900 font-medium mb-2">New password</label>
                <input id="password" type="password" formControlName="password" placeholder="..." pInputText
                    class="w-full mb-3">
                <small class="p-error block mb-2"
                    *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.dirty">
                    Your password needs more than 2 characters</small>

                <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm your password</label>
                <input id="confirmPassword" formControlName="passwordConfirm" type="password" placeholder="..."
                    pInputText class="w-full mb-3">
                <small class="p-error block mb-2"
                    *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('passwordConfirm')?.dirty">
                    Your password is not matching</small>
                <button pButton pRipple label="Confirm" [loading]="loading" icon="pi pi-user" class="w-full"></button>
            </form>
        </div>

    </div>
</div>